asgiref==3.12.1
bcrypt==5.0.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.0
crispy-bootstrap5==2026.3
cryptography==50.0.0
defusedxml==0.7.1
dj-database-url==3.1.2
Django==5.2.17
django-cors-headers==3.7.0
django-crispy-forms==2.7
django-taggit==6.1.0
djangorestframework==3.18.0
gunicorn==26.0.0
idna==3.18
invoke==3.0.3
mysqlclient==2.2.8
oauthlib==3.3.1
packaging==26.3
paramiko==5.0.0
pillow==12.3.0
psycopg2-binary==2.9.12
pycparser==3.0
PyJWT==2.13.0
PyNaCl==1.6.2
python-decouple==3.8
python3-openid==3.2.0
pytz==2026.3.post1
PyYAML==6.0.3
requests==2.34.2
requests-oauthlib==2.0.0
six==1.17.0
social-auth-app-django==6.0.1
social-auth-core==5.1.0
sqlparse==0.6.0
sshtunnel==0.4.0
tqdm==4.70.0
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
whitenoise==6.12.0
xxhash==4.0.0
